/*TOUT LE SITE*/
* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

h2 {
  font-family: OCR A Std, monospace;
  font-size: 150%;
}

h2.content {
  padding-top: 70px;
  text-align: center;
}

h3 {
  font-family: OCR A Std, monospace;
  padding-top: 20px;
}

p {
  font-family: OCR A Std, monospace;
  text-align: justify;
  font-size: 110%;
}

li {
  font-family: OCR A Std, monospace;
  text-align: justify;
  font-size: 110%;
}

/*PAGE D'ACCUEIL*/
#accueil {
  background-color: white;
  background-image: url(img/cyber.jpg);
  max-width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: OCR A Std, monospace;
}

#title {
  padding: 50vh 50vh;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding-left: 7vh;
  overflow: hidden;
  background-color: #transparent;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  position: fixed;
}

#navigation.scroll {
  background-color: #29BDE2;
  transition: 0.2s;
  opacity: 0.9;
}

#navigation:hover {
  background-color: #29BDE2;
  transition: 0.2s;
  opacity: 0.9;
}

li.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-family: OCR A Std, monospace;
  font-size: 90%;
  height: 50px;
}

li.nav a:hover {
  background-color: #29E2D0;
  transition: 0.2s;
}

/*BOUTON*/

button {
  font-family: OCR A Std, monospace;
  font-size: 130%;
  background-color: white;
  border: 2px solid #29E2D0;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
}

button:hover {
  background-color: #29E2D0;
  transition: 0.2s;
  cursor: pointer;
}

/*CLASSES*/

/*bouton CV et titre h3 centré*/

.soustitre {
  text-align: center;
  padding-top: 60px;
}

/*affichage du texte*/

.containtext {
  width: 50vw;
  text-align: center;
  margin: auto;
  line-height: 1.5;
  padding-top: 60px;
}

/*paragraphes sur mes projets*/

.containtextprojet {
  width: 33.3vw;
  text-align: center;
  margin: auto;
  line-height: 1.5;
  padding-top: 60px;
}

.containtextprojet p {
  justify-content: center;
}

/*affichages des éléments sur 3 colonnes*/

.skills {
  justify-content: center;
  display: grid;
  width: 33.3vw;
  line-height: 1.5;
	padding-top: 40px;
}

/*paragraphes*/

.texte p {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

/*IMAGES*/

#img1 {
  background: url(img/moi.jpg);
  max-width:100vw;
  background-position: 260px 355px;
  background-size: 300px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img2 {
  background: url(img/esaip.jpg);
  max-width:100vw;
  background-position: 215px 182px;
  background-size: 250px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img3 {
  background: url(img/poliwar.png);
  max-width:100vw;
  background-position: 211px 175px;
  background-size: 240px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img4 {
  background: url(img/whitelego.png);
  max-width:100vw;
  background-position: 288px 230px;
  background-size: 340px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img5 {
  background: url(img/samso.jpg);
  max-width:100vw;
  background-position: 275px 220px;
  background-size: 350px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img6 {
  background: url(img/cap.jpg);
  max-width:100vw;
  background-position: 196px 245px;
  background-size: 240px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img7 {
  background: url(img/lab.png);
  max-width:100vw;
  background-position: 175px 169px;
  background-size: 195px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img8 {
  background: url(img/sf.jpg);
  max-width:100vw;
  background-position: 330px 255px;
  background-size: 350px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img9 {
  background: url(img/travel.jpg);
  max-width:100vw;
  background-position: 240px 255px;
  background-size: 250px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img10 {
  background: url(img/cterme.jpg);
  max-width:100vw;
  background-position: 185px 170px;
  background-size: 170px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img11 {
  background: url(img/mterme.jpg);
  max-width:100vw;
  background-position: 237px 184px;
  background-size: 294px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img12 {
  background: url(img/lterme.jpg);
  max-width:100vw;
  background-position: 240px 230px;
  background-size: 250px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #29E2D0;
  margin: auto;
  margin-top: 60px;
}

#img13 {
  background: url(img/mindmap.png);
  max-width:100vw;
  background-size: 1000px;
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-top: 60px;
}

#img14 {
  background: url(img/mind2.png);
  max-width:100vw;
  background-size: 1400px;
  width: 1400px;
  height: 530px;
  margin: auto;
  margin-top: 60px;
}

/*affichage des sections*/

.section {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  text-align: center;
}

/*CONTACT*/

#contact {
  width: 100vw;
  max-width: 100vw;
  margin-top: 60px;
  padding-bottom: 40px;
  background-color: #29BDE2;
  opacity: 0.9;
  text-align: center;
}

#contact h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

#contact p {
  padding-bottom: 40px;
	text-align: center;
}

#contact a {
  font-family: OCR A Std, monospace;
  font-size: 130%;
  text-decoration: none;
  color: black;
  margin-left: auto;
  background-color: white;
  border: 2px solid #29BDE2;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
}

#contact a:hover {
  background-color: #29BDE2;
  border: 2px solid white;
  transition: 0.2s;
  cursor: pointer;
}

/*AFFICHAGE SUR MOBILE*/

@media (min-width: 300px) and (max-width: 1000px) {

#navigation{
  display: none;
}

#accueil{
  background-image: url(img/cyberphone.jpg);
  background-size: auto;
}

#why {
  display: none;
}

.hiddenimg {
  display: none;
}
}
